{
  "presets": ["@babel/env", "@babel/react", "@babel/typescript"],
  "plugins": [
    "transform-class-properties",
    "@babel/plugin-proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "babel-plugin-styled-components"
  ]
}
