{
  "parser": "babel-eslint",
  "plugins": ["react", "prettier"],
  "rules": {
    "semi": ["error", "never"],
    "class-methods-use-this": 0,
    "linebreak-style": 0,
    "react/jsx-no-target-blank": [0, { "enforceDynamicLinks": "never" }]
  },
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended",
    "plugin:react/recommended"
  ],
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "excludedFiles": "**/*.js",
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "ecmaFeatures": {
          "jsx": true
        }
      },
      "plugins": ["@typescript-eslint"],
      "rules": {
        "no-unused-vars": ["off"]
      }
    }
  ],
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  }
}
